@charset "utf-8";

/*ν—¤λ”*/
#header{background: #F6F9F5; height: 180px;text-align: center; }
#header h1{line-height: 180px;height: 100%; }
#header h1 a{}
#header h1 img{vertical-align: middle;}

#header .inner{ position: relative;}

.gnb{position: absolute;top: 50%;}
.gnb a{color: #000;}
.gnb li{ width: 135px;}
.gnb li:hover a{font-weight: 900; width: 200px;}

.gnbL li{float: left; margin-right: 20px; }
.gnbL li:first-child a{color: hotpink;}

.gnbR{right: 0;}
.gnbR li{float: left; margin-left: 20px;}
.gnbR .only a{color: #D2A51C}

/*ν‘Έν„°*/
#footer{background: url(../images/fLogo.png) no-repeat 60px center; font-size: 11px; height: 100px; position: relative; width: 1760px; margin: 0 auto;
border-top:1px solid #ccc; padding-top: 20px; margin-top: 400px;}

.fMenu{float: right; }
.fMenu li{float:left; margin-left: 15px;}
.fMenu li a{color: #000; font-size: 12px;}

.fInfo{position: absolute; right: 0px; bottom: 10px;text-align: right; color: #444141; font-weight: 200;}
.fInfo li{float: left;}
.fInfo li:after{content: ""; display: inline-block; width: 1px; height: 9px; background: #444141; margin: 0 4px ;}
.fInfo li:last-child:after{display: none;}
.fInfo01{float: right;}